.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 24px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500 !important;
    line-height: normal;
    white-space: nowrap;
    width: unset;
    gap: 4px;
}


