.tbl-w-20p {
    width: 20px !important;
    min-width: 20px !important;
}

.tbl-w-30p {
    width: 30px !important;
    min-width: 30px !important;
}

.tbl-w-40p {
    width: 40px !important;
    min-width: 40px !important;
}

.tbl-w-50p {
    width: 50px !important;
    min-width: 50px !important;
}

.tbl-w-60p {
    width: 60px !important;
    min-width: 60px !important;
}

.tbl-w-70p {
    width: 70px !important;
    min-width: 70px !important;
}

.tbl-w-80p {
    width: 80px !important;
    min-width: 80px !important;
}

.tbl-w-90p {
    width: 90px !important;
    min-width: 90px !important;
}

.tbl-w-100p {
    width: 100px !important;
    min-width: 100px !important;
}

.tbl-w-110p {
    width: 110px !important;
    min-width: 110px !important;
}

.tbl-w-120p {
    width: 120px !important;
    min-width: 120px !important;
}

.tbl-w-130p {
    width: 130px !important;
    min-width: 130px !important;
}

.tbl-w-140p {
    width: 140px !important;
    min-width: 140px !important;
}

.tbl-w-150p {
    width: 150px !important;
    min-width: 150px !important;
}

.tbl-w-160p {
    width: 160px !important;
    min-width: 160px !important;
}

.tbl-w-170p {
    width: 170px !important;
    min-width: 170px !important;
}

.tbl-w-180p {
    width: 180px !important;
    min-width: 180px !important;
}

.tbl-w-190p {
    width: 190px !important;
    min-width: 190px !important;
}

.tbl-w-200p {
    width: 200px !important;
    min-width: 200px !important;
}

.tbl-w-210p {
    width: 210px !important;
    min-width: 210px !important;
}

.tbl-w-220p {
    width: 220px !important;
    min-width: 220px !important;
}

.tbl-w-230p {
    width: 230px !important;
    min-width: 230px !important;
}

.tbl-w-240p {
    width: 240px !important;
    min-width: 240px !important;
}

.tbl-w-250p {
    width: 250px !important;
    min-width: 250px !important;
}

.tbl-w-260p {
    width: 260px !important;
    min-width: 260px !important;
}

.tbl-w-270p {
    width: 270px !important;
    min-width: 270px !important;
}

.tbl-w-280p {
    width: 280px !important;
    min-width: 280px !important;
}

.tbl-w-290p {
    width: 290px !important;
    min-width: 290px !important;
}

.tbl-w-300p {
    width: 300px !important;
    min-width: 300px !important;
}

.tbl-w-310p {
    width: 310px !important;
    min-width: 310px !important;
}

.tbl-w-320p {
    width: 320px !important;
    min-width: 320px !important;
}

.tbl-w-330p {
    width: 330px !important;
    min-width: 330px !important;
}

.tbl-w-340p {
    width: 340px !important;
    min-width: 340px !important;
}

.tbl-w-350p {
    width: 350px !important;
    min-width: 350px !important;
}

.tbl-w-360p {
    width: 360px !important;
    min-width: 360px !important;
}

.tbl-w-370p {
    width: 370px !important;
    min-width: 370px !important;
}

.tbl-w-380p {
    width: 380px !important;
    min-width: 380px !important;
}

.tbl-w-390p {
    width: 390px !important;
    min-width: 390px !important;
}

.tbl-w-400p {
    width: 400px !important;
    min-width: 400px !important;
}

.tbl-w-410p {
    width: 410px !important;
    min-width: 410px !important;
}

.tbl-w-420p {
    width: 420px !important;
    min-width: 420px !important;
}

.tbl-w-430p {
    width: 430px !important;
    min-width: 430px !important;
}

.tbl-w-440p {
    width: 440px !important;
    min-width: 440px !important;
}

.tbl-w-450p {
    width: 450px !important;
    min-width: 450px !important;
}

.tbl-w-460p {
    width: 460px !important;
    min-width: 460px !important;
}

.tbl-w-470p {
    width: 470px !important;
    min-width: 470px !important;
}

.tbl-w-480p {
    width: 480px !important;
    min-width: 480px !important;
}

.tbl-w-490p {
    width: 490px !important;
    min-width: 490px !important;
}

.tbl-w-500p {
    width: 500px !important;
    min-width: 500px !important;
}